---
const { text } = Astro.props;
---

<a
  class="text-gray-700 border-gray-200 bg-[#E9E9E8] backdrop-blur-3xl px-[54px] py-[10px] rounded text-sm font-semibold hover:bg-stone-700 hover:text-white transition duration-1000"
  href="#"
>
  {text}
</a>
