<section
      class="bg-black h-screen w-screen text-center relative overflow-hidden text-gray-900"
    >
	<div class="z-30 relative h-full flex flex-col">
		 <header>
        <h2 class="pt-20 font-medium text-[40px] ">Model Y</h2>
        <p class="text-sm underline">Concertar una prueba de conducción</p>
      </header>

      <footer class="flex flex-grow justify-end flex-col pb-[65px]">

        <div class="gap-x-6 flex mx-auto">
        
                <a class="text-white border-stone-700 bg-[#3B3D41] backdrop-blur-3xl px-[62px] py-[10px] rounded text-sm font-semibold hover:bg-gray-200 hover:text-gray-700 transition duration-1000" href="#"> Explorar inventario</a> 
                <a class="text-gray-700 border-gray-200 bg-[#E9E9E8] backdrop-blur-3xl px-[54px] py-[10px] rounded text-sm font-semibold hover:bg-stone-700 hover:text-white transition duration-1000" href="#"> Pedido personalizado</a>
            
			
           
		</div>

      </footer>
	</div>
     
      <div class="absolute h-full w-full top-0 bottom-0 z-10">
        <img class="object-center object-cover h-full w-full" src="/public/Model-Y.avif" alt="">
      </div>
    </section>